@model dynamic

@{
    ViewBag.Title = "Help Videos";
    Layout = ViewBag.Layout;
}
<style>
    .intrinsic-container {
        position: relative;
        height: 0;
        overflow: hidden;
    }
 
    /* 16x9 Aspect Ratio */
    .intrinsic-container-16x9 {
        padding-bottom: 56.25%;
    }
 
    /* 4x3 Aspect Ratio */
    .intrinsic-container-4x3 {
        padding-bottom: 75%;
    }
 
    .intrinsic-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <div class="p-3 mb-2 bg-secondary"></div>
    <h1 class="ml-1 ml-md-3">@ViewBag.Title</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!-- Main Content -->
<div class="">
    <div class="container">
        <div class="card">
            <!--Heading-->
            <div class="card-header">
                <h3 class="card-title">Manage Class: Add Class</h3>
            </div>
            <!--Body-->
            <div class="card-body">
                    <div class="intrinsic-container intrinsic-container-16x9">
                        <iframe src="https://www.youtube-nocookie.com/embed/0Rfaje9ewBg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="mt-2 mt-md-5" >
    <div class="container">
        <div class="card">
            <!--Heading-->
            <div class="card-header">
                <h3 class="card-title">Evaluation: Scan a Paper</h3>
            </div>
            <!--Body-->
            <div class="card-body">
                <div class="intrinsic-container intrinsic-container-16x9">
                        <iframe src="https://www.youtube.com/embed/Q5tpDzZKDhw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="mt-2 mt-md-5">
    <div class="container">
        <div class="card">
            <!--Heading-->
            <div class="card-header">
                <h3 class="card-title">Evaluation: Upload Paper</h3>
            </div>
            <!--Body-->
            <div class="card-body">
                    <div class="intrinsic-container intrinsic-container-16x9">
                        <iframe src="https://www.youtube.com/embed/pGBl5MvBDYU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="mt-2 mt-md-5">
    <div class="container">
        <div class="card">
            <!--Heading-->
            <div class="card-header">
                <h3 class="card-title">Evaluation: How the Continuum Works</h3>
            </div>
            <!--Body-->
            <div class="card-body">
                <div class="intrinsic-container intrinsic-container-16x9">
                    <iframe src="https://www.youtube.com/embed/woW5iVsjCsk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="mt-2 mt-md-5">
    <div class="container">
        <div class="card">
            <!--Heading-->
            <div class="card-header">
                <h3 class="card-title">Evaluation: Examining a Paper</h3>
            </div>
            <!--Body dfs-->
            <div class="card-body">
                <div class="intrinsic-container intrinsic-container-16x9">
                    <iframe src="https://www.youtube.com/embed/xvFuteUBiq8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

