@{
    ViewBag.Title = "Your Inbox";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 style="padding: 3px 20px" class="page-header">
            Your Inbox
        </h1>
        <p style="padding: 3px 20px"><small>For Teacher use only.</small>
        </p>
    </div>
</div>
<!-- /.row -->

