@model Source.Models.TeacherSettingsViewModel
@{
    Layout = ViewBag.Layout;
}

@section Styles {

}

@Html.Hidden("CurrentYear", (int)ViewBag.CurrentYear)
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div>
    <div class="p-3 mb-2 bg-info"></div>
    <h1 class="ml-md-3 ml-1">Settings</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!-- Main Content -->
<div id="" class="container">


    <div class="row">
        <!-- Account Settings and Module Settings -->
        <a class="col-md-3" href="@Url.Action("ClassSettings", "Settings")">
            <div class="card h-100">
                <div class="card-header bg-info"></div>
                <div class="card-body">
                    <h2>Class Settings</h2>
                </div>
            </div>


        </a>

        <!-- Item: Select Default Class, Move this to settings -->
        <div class="ml-1 col-md-5">
            <div class="card h-100">
                <div class="card-header bg-info"></div>
                <div class="card-body">
                    <label class="row" for="class">Default Class: </label>
                    <div class="row">
                        <select class="form-control" id="classDropdown">
                            <option value="-1">---</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Account Settings and Module Settings -->



</div>

@section Scripts {
    <script src="~/Scripts/Teacher/Settings.js"></script>
}