@{
    ViewBag.Title = "Student Progress";
    Layout = ViewBag.Layout;
}

@section Styles {

    <!-- Pages Styles -->
}

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <div class="p-3 mb-2 bg-warning"></div>
    <h1 class="ml-1 ml-md-3">Student Progress</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!-- Main Content -->
<div id="page-content">

    <div class="container">
        <div class="card">
            <div class="card-header">

                <h4 class="card-title">@ViewBag.Title</h4>

            </div>


            <div class="card-body">
                @Html.Partial("_YearCourseSelection_port")
            </div>


        </div>
        <div id="StudentsPanel" class="card" style="margin-top: 20px; display: none;">
            <div class="card-header">
                <h4 class="card-title">Students</h4>
            </div>
            <div class="card-body">
                <table id="StudentsTable" class="table table-striped table-bordered dt-responsive" width="100%">
                    <!-- Roster Table Headings -->
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Tasks</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!-- Pages Scripts -->
    <script src="~/Scripts/Teacher/StudentProgress.js"></script>
}