@{
    ViewBag.Title = "Writing Standards";
    Layout = ViewBag.Layout;
}

@section Styles {

}

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <div class="p-3 mb-2 bg-info"></div>
    <h1 class="ml-1 ml-md-3">@ViewBag.Title</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!-- Main Content -->
<div id="page-content">

    <div class="container">
        <div class="">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Writing Standards</h3>
                </div>
                <div class="card-body">

                    <!--Custom Content-->
                    <!--===================================================-->
                    <div class="list-group">
                        <a href="http://www.corestandards.org/ELA-Literacy/CCRA/W/" class="list-group-item active" target="_blank">
                            <h4 class="list-group-item-heading">Anchor Standards for Writing</h4>
                            <p class="list-group-item-text">The College and Career Readiness Anchor Standards articulate essential knowledge and skills across K-12.</p>
                        </a>
                        <a href="http://www.corestandards.org/ELA-Literacy/" class="list-group-item" target="_blank">
                            <h4 class="list-group-item-heading">ELA Writing Standards Kindergarten - Grade 12 and Grades 6-12 in History/Social Studies, Science and Technology</h4>
                            <p class="list-group-item-text">Grade level writing standards add specificity to the Writing Anchor Standards. In grades 6-12, literacy standards also include a separate set of standards that target history/social studies, science, and technical subjects to address writing across the curriculum.</p>
                        </a>
                        <a href="http://www.corestandards.org/assets/Appendix_C.pdf" class="list-group-item active">
                            <h4 class="list-group-item-heading">ELA Appendix C: Samples of Student Writing</h4>
                            <p class="list-group-item-text">Annotated writing samples illustrate the criteria in the Writing Standards.  These can be used in addition to the UWC&#146;s annotated Anchor Papers to establish more accurate and reliable assessments.</p>
                        </a>
                    </div>
                    <!--===================================================-->

                </div>
            </div>

        </div>
    </div>

</div>
