
@{
    ViewBag.Title = "Your Settings";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
   
    <title>Settings</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
