@{
    ViewBag.Title = "Interactive Mentor Texts";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div id="page-title">
    <div class="p-3 mb-2 bg-success"></div>
    <h1 class="ml-1 ml-md-3">@ViewBag.Title</h1>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Select a Text Below</h3>
        </div>

        <!--Horizontal Form-->
        <!--======================================================================-->
        <div class="card-body">
            <ul>
                <li><a href="#" onclick="window.open('/MentorTexts/The Pig - Narrative Example output/story_html5.html','_blank', 'location=yes, heifht = 570, width = 520, scrollbar =yes, status =yes')">B (The Pig Story)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/WhalesSeeWithTheirEarsPublished/story_html5.html', '_blank', 'location=yes, heifht = 570, width = 520, scrollbar =yes, status =yes')">B (Whales See With Their Ears)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/C.1.The Rainbow.Opinion NEW/story_html5.html','_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">C (The Rainbow)</a>"</li>
                <li><a href="#" onclick="window.open('/MentorTexts/C.2.Reading.OpinionV2 output/story_html5.html', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">C (Reading)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/Dinosaurs/story_html5.html','_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">D (Dinosaurs)</a>"</li>
                <li><a href="#" onclick="window.open('/MentorTexts/A Whale of a Tale (Narrative, E)/story_html5.html', '_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">E (Whale of a Tale)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/Nana Upstairs and Nana Downstairs (Response, Level E)/story_html5.html', '_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">E (Nana Upstairs and Nana Downstairs)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/The Battle of Little Big Horn/story_html5.html', '_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">F (The Battle of Little Big Horn)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/G.2.Gemstone Mining with Dad/story_html5.html', '_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">G (Gemstone Mining with Dad)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/H.On the Boat with Cromwell/story_html5.html', '_blank', 'location=yes, height = 570, width= 520, scrollbar = yes, status = yes')">H (On the Boat with Cromwell)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/H.The Battle Cry of Freedom/story_html5.html', '_blank', 'location=yes, height = 570, width = 520, scrollbar = yes, status=yes')">H (The Battle Cry of Freedom)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/I.2.Letter to State Board of Education/story_html5.html', '_blank', 'location=yes, height = 570, width = 520, scrollbar = yes, status=yes')">I (Letter to State Board of Education)</a></li>
                <li><a href="#" onclick="window.open('/MentorTexts/Maria (Poetry, Level J)/story_html5.html', '_blank', 'location=yes, height = 570, width = 520, scrollbar = yes, status=yes')">J (Maria)</a></li>
                @*<li><a href="#" onclick="window.open('/MentorTexts/I.2.Letter to State Board of Education/story_html5.html', '_blank', 'location=yes, height = 570, width = 520, scrollbar = yes, status=yes')">K (Risks Due to Obesity)</a></li>*@ <!--no files for this one-->
            </ul>
        </div>
    </div>
</div>