@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {


}

@section Styles {


}

@section RenderBlockingScripts {


}

<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">ABOUT US</h1>
    </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <section>
            <div class="media">
                <h2 class="section-heading">Dr. Debbie Powell, Founder and CEO</h2>
                <img src="@Url.Content("~/Images/People/Debbie Powell.png")" class=" media-object img-rounded pull-left" alt="">
                <div class="media-body">
                    <p class="lead">
                        Debbie recently retired from UNC Wilmington as a professor of Language and Literacy after 45 years in education.
                        She earned her Ed.D. (Reading/Language Education/School Administration), M.S. (Elementary and Reading),
                        and B.S. (Elementary) from Indiana University. Her experiences as a K-8 teacher, K-12 district literacy coordinator,
                        media specialist, technology teacher, special education teacher, director of Title I, reading teacher,
                        university professor, visiting scholar at University of Melbourne, consultant for most major educational publishers,
                        and professional developer for schools around the world have uniquely prepared her
                        for publishing educational programs.
                    </p>
                    <p class="lead">
                        Uni-SPIRE has afforded Debbie an opportunity to channel her educational
                        experience into producing a program that makes a significant difference in teachers’
                        knowledge and skills, thus positively impacting student achievement.
                        “I understand that teaching writing is hard work,
                        and I was not satisfied until we had achieved a platform of useful,
                        reliable, and easy-to-use tools that can inform the teaching of writing, K-12.”
                    </p>
                </div>
            </div>
            <hr/>
        </section>
        <section>
            <h2 class="section-heading">Our Beliefs</h2>
            <ol>
                <li class="lead">
                    <u>Learning</u> generally begins with a need to know and can be facilitated by a knowledgeable, caring teacher who models, assesses,
                    gives meaningful feedback, plans instruction to meet students’ needs, and is not hesitant to allow students to take risks and
                    responsibility for their own learning.
                </li>
                <li class="lead">
                    <u>Students</u> achieve when they are provided (a) adequate time to learn what is meaningful to them; (b) some choices in
                    what and how they learn and how they are assessed; (c) responsibility for problem solving and co-constructing learning
                    with adequate teacher feedback along the way; (d) opportunities and encouragement to self-evaluate their own learning,
                    and (e) encouragement to write in their native language when it seems the most appropriate way to express what they want to say.
                </li>
                <li class="lead">
                    <u>Teachers</u> inspire learners.  The teaching profession becomes more challenging each year, but when we support teachers to
                    become the best they can be by providing effective curriculum, assessment tools, and professional development, they have
                    opportunities daily to make a difference in the life of a child or teen.
                </li>
                <li class="lead">
                    <u>Trust</u> is a critical condition of learning.  We trust teachers to make effective decisions regarding assessment and instruction.
                    We trust students to construct their own understandings with teacher guidance and to take responsibility for their learning.
                </li>
                <li class="lead">
                    <u>Writing</u> is thinking, reflecting and communicating. A democratic society is dependent upon a citizenry that can critically think,
                    read and write.  Writing is an active process that can improve reading when students are taught to see the connections.
                </li>
                <li class="lead">
                    <u>Professional</u> development is an on-going, collaborative, and reflective process in which teachers review their teaching
                    practices and learn how to respond to their students' needs for continuous growth.  School administrators’ support of professional
                    learning communities that encourage teachers to share with each other is crucial.
                </li>
                <li class="lead">
                    <u>A democratic society</u> requires that public schools provide equal educational opportunities for ALL children to gain the
                    necessary knowledge, skills, and dispositions to enable them to be productive citizens, caring and responsible people, and
                    effective contributors in school and the workplace.
                </li>
                <li class="lead">
                    <u>Universities</u> are a storehouse of talent, skill and knowledge.  When universities, schools, professors, teachers and
                    students collaborate to envision ways to improve K-12 education, all benefit and grow in their crafts.
                </li>
            </ol>
            <hr>

        </section>
        <section>
            <h2 class="section-heading">Our Talented University Students</h2>

            <p class="lead">
                Uni-SPIRE employs an innovative model of “work while you learn.”  Using support from the UNCW Research Foundation and numerous grants,
                CEO Powell, with patience and passion, has cultivated an incredible team of university student employees. These talented undergraduate
                and graduate students from numerous majors have received deep experiences at Uni-SPIRE that result in higher paying jobs and fulfilling
                careers upon graduation. Together, they have built a comprehensive solution to a challenging problem facing America, the lack of effective
                writing and communication skills. 
            </p>
            <p class="lead">
                UNCW is “dedicated to the integration of teaching and mentoring with research and service.” The university has a strong
                “commitment to student engagement, creative inquiry, critical thinking, thoughtful expression, and responsible citizenship.”
                Uni-SPIRE offers students a way to fulfill those goals in a mutual relationship with the university.
            </p>
            <p class="lead">
                UNCW Information Systems, Technology and Computer Science students use a tool set including, ASP.NET MVC, C#, 
                Microsoft SQL, HTML, JavaScript, and CSS, Slack, Visual Basic, Visual Studio, Github, and Stackoverflow.  
                They learn to troubleshoot and learn how to learn independently and collaboratively while employing some 
                rather sophisticated software tools.  They learn front-end and backend database development, documentation,
                testing and validation. Students learn the importance of customer service and responding to customer queries. 
            </p>
            <p class="lead">
                UNCW Marketing students from both the Cameron School of Business and College of Arts and Sciences Communication
                Studies use tools of their trade---Facebook, LinkedIn, and YouTube---but they learn how to apply these tools in
                a business setting.  Other tools used are Hootsuite, Google AdWords, Google Analytics, Facebook Analytics, 
                Facebook Boost, Nearpod, Pear Deck, Piktochart, Wunderlist, Gif Maker, and Canva.
            </p>
            <p class="lead">
                UNCW College of Education students participate in conceptualizing and conducting research studies, write 
                teacher materials, create video scripts, conduct literature reviews, run our writing conferences and
                workshops and complete other grant work.
            </p>
            @*<div class="row text-center">
                <a href="team.php" class="btn btn-default">VIEW THE WHOLE TEAM</a>
            </div>*@
            <hr>

        </section>
        <section>
            <h2 class="section-heading">Uni-SPIRE's Advisory Board</h2>
            <p class="lead">
                Uni-SPIRE is fortunate to have a talented group of business and educational leaders to advise our activities.
            </p>
            <p class="lead">
                <b>Business</b><br/>
                David Starbuck, Retired Technology Sales Executive; led Xilinx from start up to $2.5B in annual revenues<br/>
                Dr. Ron Vetter, Co-Founder, Mobile Education<br/>
                Ann Revell-Pechar, Founder, A.Revell Communications<br/>
                Susan McClanahan, Retired, Co-Founder, McClanahan & Co.; Inc 500 fastest growing companies in the country<br/>
                Dr. Tom Janicki, Professor, Computer Science and Information Systems<br/>

            </p>
            <p class="lead">
                <b>Education</b><br/>
                Dr. Brian Cambourne, Honorary Fellow, Wollongong University, Australia<br />
                Dr. William Sterrett, Associate Professor, Educational Leadership, Wilmington, NC<br />
                Mrs. Shannon Starbuck, Special Education Teacher, Raleigh, NC<br />
                Ms. Emily Roderique, H.S. English Teacher, Web City, MO<br />
                Dr. Tryphina Robinson, Assistant Professor, Early Childhood, Shawnee State University, OH<br />
                Dina Villalobos, English as a Foreign Language Consultant, Heredia, Costa Rica <br />

            </p>
            <hr>
        </section>
        <section>
            <h2 class="section-heading">We would especially like to thank the many teachers,
                administrators, students and parents that have participate in our pilot studies 
                to make the Universal Writing Continuum a more effective program.  
                The following schools and districts have been represented in our pilots.</h2>
            <p class="lead">
                Gorham Randolph Shelburne Cooperative, SAU#20, NH<br />
                Brunswick County Schools, NC<br />
                Cape Fear Center for Inquiry, Wilmington, NC<br />
                Chesterfield County Schools, VA<br />
                Clinton City Schools, NC<br />
                Cloud Forest School, Monteverde, Costa Rica<br />
                Greenwood Laboratory School, Springfield, MO<br />
                New Hanover County Schools, NC<br />
                Onslow County Schools, NC<br />
                Pender County Schools, NC<br />
                Robeson County Schools, NC<br />
                Sallie B. Howard School for the Arts, NC<br />
                University School, Greeley, CO<br />
                Washoe County Schools, NV<br />

            </p>
            <hr>
        </section>
    </div>
</div>