
@{
    ViewBag.Title = "Commoncore";
}

<br />

<div class="container-fluid">
    <div class="container">
        <div class="col-md-7">
            <div class="borderMain">How Long Does It Take to Implement the UWC?</div>
            <table ID="Table1">
                <tr>
                    <td>
                        &nbsp
                        <p>
                            The 
                            <span>
                                Universal Writing Continuum
                            </span>
                            is aligned with the 
                            <span>
                                Common Core Writing, Language, and Writing in History/Social
                                Studies, Science and Technical Subjects
                            </span>
                             standards. The UWC is also aligned with other national, state and publishers' curricula on writing.
                        </p>
                        <p>To read more about the specific correlations of the 10 writing elements in the Universal Writing Continuum to the Common Core Anchor Standards <a href="http://test.thewritingcontinuum.com/Teacher/resources/Alignment to Standards and Levels/Alignment OF THE UNIVERSAL WRITING CONTINUUM AND THE COMMON CORE STATE STANDARDS copy.pdf" target="_blank">Click Here</a></p>
                        <p>There are specific correlations to the CCSS indicated throughout the program for each grade level and each element of writing. The <span style="color:#348017;"> Universal Writing Continuum</span> goes beyond the Common Core State Standards to represent what effective writing is in English.
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-md-5">
            <!--- <div class="colTopRightAboutUs"> --->
            <div class="borderMain">Welcome to the UWC</div>
            <table ID="Table2">
                <tr>
                    <td>
                        &nbsp
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/UAPgNsf2ERc" frameborder="0" allowfullscreen></iframe>
                        </div>
                        &nbsp
                        <p>Overview</p>
                        <p>
                            The Universal Writing Continuum (UWC) has a PreK-12 formative assessment tool consistent with
                            writers' workshop and the process approach to teaching writng. The UWC IS NOT a computer-scored
                            assessment. Teachers make all of the assessment and instructional desicions -- the computer is just a tool
                            to make this process more reliable, efficient, and informative.
                        </p>
                        <p>
                            This is not just a tool for the English teachers; all content teachers in grades 6-12 will find this website
                            invaluable for evaluating writing across the curriculum.
                        </p>
                        <p>
                            Teachers can easily assess and monitor students' progress, set goals for their students,
                            and plan instruction based on assessment results.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>