
@{
    ViewBag.Title = "Contact Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Contact Submitted</h2>
    <p>Thank you for submitting your Contact Request. We will get in touch with you shortly!</p>
</div>
<div class="container" style="text-align: center; margin-top: 1%;">
    <a href="~/Home/Index" class="btn btn-primary" role="button">Back to Home</a>
</div>

