
@{
    ViewBag.Title = "Educators";
}

<div class="container-fluid">
    <div class="container">
        <div class="col-lg-12">
            <div class="borderMain">Uni-Spire Testimonials</div>
            <table ID="Table1">
                <tr>
                    <td>
                        <p>
                            "The UWC is aligned with the Common Core; many of the elements of writing can be found in the Common Core.
                            The UWC goes beyond the Common Core by including writing elements and language not addressed in the standards.
                            The UWC simultaneously organizes the Common Core by the writing elements and by grade level. It advances the expectations mid-year,
                            thereby helping teachers determine if the work is of grade-level (or not) performance." -- Colorado elementary teacher
                        </p>
                        <p>
                            "I think a continuum is helpful to teachers needing guidance on pinpointing areas of strength and weaknesses with individual students.
                            Once I learned how to navigate through the system, the Continuum was easy to use." -- Colorado elementary teacher
                        </p>
                        <p>"Great tool that provides informative information." -- Missouri elementary teacher </p>
                        <p>“I find it useful, helpful, and a great guide to go by for writing.” -- North Carolina elementary teacher </p>
                        <p>“The writing continuum is a solid tracking device for students’ growth in writing. It is easy to use and provides another data point to view growth.” -- Nevada middle school teacher</p>
                        <p>
                            “I would say that it is very comprehensive and better than anything that we currently have for scoring a student’s writing. It is very explicit
                            and it is easy to see the progression from one proficiency band to the next. It also ensures that teachers know the Common Core Standards
                            not only for their grade level but as a continuum.” -- North Carolina elementary teacher
                        </p>
                        <p>
                            “If used throughout the school year consistently, students and teachers will have great data to discuss in terms of progress or lack of in specific areas of writing.
                            If assessed regularly, students should be able to target areas of weakness as a writer and improve those areas contributing to the whole.” -- North Carolina middle school teacher
                        </p>
                        <p>“It takes a long time to complete. It gives you some good documentation of students’ growth as writers.” -- North Carolina elementary charter school teacher</p>
                        <p>“I think it is an extremely useful tool. It seems very time consuming at first, but it gets easier the more you use it.” -- North Carolina elementary teacher</p>
                        <p>
                            “The Universal Writing Continuum was very beneficial to my Common Core writing instruction. I was also able to address students’ strengths and weaknesses.
                            Using the writing continuum I was also able to strengthen my knowledge of writing standards for other grade levels.” -- North Carolina elementary teacher
                        </p>
                        <p>“We have got to teach children to think clearly through writing and this tool really helps us focus on the job to be done.” -- North Carolina elementary teacher </p>
                        <p>
                            “I just have to say that I love it; I love that it’s so broken down and so precise...It’s just not something broad to look at; you can literally go back and look at the (student’s) story and check to see did he do that?
                            I was really taken with this.” – Colorado high school English teacher
                        </p>
                        <p>
                            “I think the tool is amazing and provides an in depth understanding of the writing process and your students’ abilities as writers.... It allows you to quickly score any paper in writer's workshop even while you are conferencing with kids,
                            if you like, and the computer will generate reports over a months' time of how the entire class is progressing on as many as 10 features of writing.”
                        </p>
                        <p>
                            “I like the alignment with the Common Core and how nicely it fits together. This is allowing us to be more specific in our teaching and giving us one more tool where we are not trying to decipher and figure out if this really is a kindergarten piece or first grade.
                            Using the Common Core with this, I think they blend very nicely together.”
                        </p>
                        <p>
                            “One of our big things as a school with vertical alignment is having a common language. I feel like this lends itself so much as a school to having that common language. If a child has heard this since first grade, second grade, by the time they get to me in fifth grade when
                            I’m talking to them about making sure their story has a focus, they’ve been hearing that all along. I like that a lot.”
                        </p>
                        <p>“It’s great the way it breaks it down for instructional purpose and is very user friendly for scoring. It’s very user friendly for instructional purposes. I would use sub-categories for mini lessons.” </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

