
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">PRIVACY POLICY</h1>
    </div>
</div>
<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <section>
            <p class="lead">
                Your privacy is our priority.  This Statement of Privacy applies to you and Uni-SPIRE and governs data collection and usage.
                By using our platform and website, you consent to the terms stated in this policy.
            </p>
        </section>
        <section>
            <h2 class="section-heading">Collection of Personal Information</h2>
            <p class="lead">
                Uni-SPIRE may collect anonymous demographic information which is not unique to you, such as your zip code, city and state.  
            </p>
            <p class="lead">
                We do not collect any personal information about you unless you voluntarily provide it to us.  You may be required to 
                provide certain personal information to us when you elect to use our products or services available on the Site.  
                These may include (a) registering for an account on our Site; (b) submitting your credit card or other payment information
                when ordering and purchasing products and services on our Site; (c) entering a sweepstakes or contest sponsored by us;
                or (d) sending us an email message.  
            </p>
            <h2 class="section-heading">Use of Your Personal Information</h2>
            <p class="lead">
                Uni-SPIRE  will use your information for, but not limited to, communicating with you in relation to services and/or 
                products you have requested from us or to inform you of other products or services available from Uni-SPIRE.  
                We also may gather additional personal or non-personal information in the future.
            </p>
            <h2 class="section-heading">Sharing Information with Third Parties</h2>
            <p class="lead">
                Uni-SPIRE does not sell, rent or lease its customer lists to third parties.
            </p>
            <p class="lead">
                Uni-SPIRE may disclose your personal information, without notice, if required to do so by law.
            </p>
        </section>
    </div>
</div>


