@{
    ViewBag.Title = "Professional Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {


}

@section Styles {


}

@section RenderBlockingScripts {


}

<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">PROFESSIONAL DEVELOPMENT</h1>
    </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <section>
            <h2 class="section-heading">PROFESSIONAL DEVELOPMENT</h2>
            <p class="lead">
                Our total professional learning platform for writing is based on the theory of Action Learning.
                One of the strengths of the Universal Writing Continuum is that teachers learn about writing, 
                learn management strategies and instructional engagements for improving their writing instruction,
                and learn the expectations not only for their grade level, but the levels before and after their grade.
                The UWC can stand-alone as writing curriculum and formative assessment, or it works with any writing 
                program that is consistent with process writing and writers’ workshop. Of course, we encourage teachers
                to write alongside their students to experience the struggles and joys of writing. However, in most 
                teachers’ busy lives, they also need other avenues to learn the content of writing and how it develops.
                That’s where the UWC comes in!
            </p>
            <p class="lead">
                The most important professional learning occurs when teachers come together with the UWC 
                and their students’ writing to discuss a) their understanding of writing, b) successful 
                strategies they have tried, c) how to let go and give students’ choice, d) how to find 
                the time in their busy days to make sure writing occurs daily, e) how to overcome the 
                pressure to focus on the finished product and the level rather than on the child and 
                their process, and f) how to meet the expectations of their administrators who what 
                to see proof of progress and still be able to focus on what’s important, the children.
                Sharing children’s writing and teaching strategies in learning communities promotes active learning.
            </p>
            <p class="lead">
                Our short videos under the HELP menu also are useful as just-in-time professional development
                for teachers.  We are continuing to add to these along with other informative documents.            
            </p>
            <h2 class="section-heading">PROFESSIONAL DEVELOPMENT FOR IMPLEMENTATION</h2>
            <p class="lead">
                We recommend a minimum professional development session of one 7-hour day to implement the Universal
                Writing Continuum on your campus or via video conferencing. The session will include how to use the 
                platform, valuable tips on giving feedback to students, demonstrations of effective writing assessment,
                and how to utilize the resources available. Teachers will be ready to implement the platform at the end
                of this one-day session. Administrators are encouraged to fully participate.
            </p>

        </section>
    </div>
</div>