
@{
    ViewBag.Title = "Research";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {


}

@section Styles {


}

@section RenderBlockingScripts {


}

<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">RESEARCH</h1>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-heading">DOCUMENTS AND RESEARCH REVIEWED</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        Alaska Department of Education and Early Development. (2012). The
                        New Alaska English/Language Standards. Juneau, AK: Alaska Department of Education and Early
                        Development.
                    </li>
                    <li class="list-group-item">
                        Australian Curriculum, Assessment and Reporting Authority. (2013).
                        The Australian Curriculum: English (draft). Sydney: Australian Curriculum, Assessment and
                        Reporting Authority.
                    </li>
                    <li class="list-group-item">
                        Brinkley, E. with Harper, N. (n.d.). The College Board English
                        Language Arts Framework. NY: College Board.
                    </li>
                    <li class="list-group-item">
                        Calkins, L. (2013). K-8 Continuum for Assessing Narrative Writing.
                        NY: Teachers College Reading & Writing Project.
                    </li>
                    <li class="list-group-item">
                        Clay, M. (1975). What did I write: Beginning writing behavior.
                        Auckland, New Zealand: Heinemann.
                    </li>
                    <li class="list-group-item">
                        Council of Writing Program Administrators (CWPA), National Council
                        of Teachers of English (NCTE) & National Writing Project (NWP). (2011). Framework for
                        Success in Postsecondary Writing. CWPA, NCTE & NWP
                    </li>
                    <li class="list-group-item">
                        Department for Education. (February 2013). (Draft) English Programme
                        of Study for Key Stage 4. United Kingdom: Department of Education.
                    </li>
                    <li class="list-group-item">
                        Ferreiro, E. (1990). Literacy development: Psychogenesis. In Y.M.
                        Goodman, How children construct literacy. Newark, DE: International Reading Association.
                    </li>
                    <li class="list-group-item">
                        Fountas, I. & Pinnell, G.S. (2010). The Continuum of Literacy
                        Learning, Grades PreK-8. Portsmouth, NH: Heinemann.
                    </li>
                    <li class="list-group-item">
                        Gentry, R. J. (2001). The literacy map: Guiding children to where
                        they need to be. Mondo Publishers.
                    </li>
                    <li class="list-group-item">
                        Hart, B., Carman, E., Luisier, D. & Vasavada, N. (June 2011). Common
                        Core State Standards Alignment: Advanced Placement, NY: College Board.
                    </li>
                    <li class="list-group-item">
                        Kansas State Department of Education. (2013). Kansas College and
                        Career Ready Standards for English Language Arts and Literacy in History/Social Studies,
                        Science, and Technical Subjects. Topeka, KS: Kansas State Department of Education.
                    </li>
                    <li class="list-group-item">
                        Missouri Department of Elementary and Secondary Education (DESE).
                        (2006). Map achievement level descriptors for communication arts. Jefferson City, MO:
                        Missouri Department of Elementary and Secondary Education.
                    </li>
                    <li class="list-group-item">
                        Martinez, R. (1999). 6+1 Trait®. Northwest Regional Educational
                        Laboratory (NWREL).
                    </li>
                    <li class="list-group-item">
                        Minnesota Department of Education. (2010). Minnesota Academic
                        Standards English Language Arts K-12. Roseville MN: Minnesota Department of Education.
                    </li>
                    <li class="list-group-item">
                        National Governors Association Center for Best Practices and Council
                        of Chief State School Officers (CCSSO). (2010). Common Core State Standards for English
                        Language Arts. Washington D.C.: National Governors Association Center for Best Practices,
                        Council of Chief State School Officers.
                    </li>
                    <li class="list-group-item">
                        Partnership for Assessment of Readiness for College and Careers
                        (PARCC). (2013). PARCC Combined PBA Task Generation Models. Washington D.C.: Partnership for
                        Assessment of Readiness for College and Careers.
                    </li>
                    <li class="list-group-item">
                        Powell, D. & Hornsby, D. (1993). Learning Phonics and Spelling in a
                        Whole Language Classroom. New York: Scholastic.
                    </li>
                    <li class="list-group-item">
                        Schickedanz, J. (1990). Adam’s righting revolutions: One child’s
                        literacy development from infancy through grade one. In Focuses on children’s thinking about
                        reading and writing from ages 2 to 6. Auckland, New Zealand: Heinemann.
                    </li>
                    <li class="list-group-item">
                        Smarter Balanced Assessment Consortium. (2013). English Language
                        Arts Content Specifications, Item Specifications, and Depth of Knowledge. Smarter Balanced
                        Assessment Consortium.
                    </li>
                    <li class="list-group-item">
                        Texas Education Agency. (2008). Texas Essential Knowledge and Skills
                        for English Language Arts and Reading. Austin: Texas Education Agency.
                    </li>
                    <li class="list-group-item">
                        Tufte, V. (2006). Artful Sentences: Syntax as Style, Cheshire, CT:
                        Graphics Press LLC.
                    </li>
                    <li class="list-group-item">
                        Virginia Department of Education (DOE). (2013). Virginia Standards
                        of Learning Writing Skills Progression by Grade. Richmond, VA: Virginia DOE.
                    </li>
                    <li class="list-group-item">
                        Western Australia. Education Department. (1995). Writing:
                        developmental continuum. Melbourne: Longman Australia.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2 class="section-heading">TESTING CONDUCTED ON THE UWC</h2>
                <div class="panel-group" id="accordion">

                    <!-- PANEL #1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                                    "Powell,
                                    D; Nicholson Clark, M, Allder, A. & Wilson, Z. (April, 2012). Using The Writing
                                    Continuum,® A Teacher Validation Study. Research Speaks, Watson College of
                                    Education, Wilmington, NC: UNCW." <i class="fa fa-angle-down pull-right icon-collapsed"></i><i class="fa fa-angle-up pull-right icon-expanded"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    "This study was an alpha field-test of the earliest paper version of The Writing
                                    Continuum (later changed to the Universal Writing Continuum) with K-5 grade
                                    volunteer teachers in 3 elementary schools in New Hanover County Schools; n=25,
                                    each teacher scoring 4 papers. The researchers then conducted two audiotaped and
                                    transcribed focus groups with these 25 teachers, one group per school. Teachers’
                                    general perceptions were that the formative assessment instrument had useful
                                    features but the 9-page paper continuum was cumbersome to use. Sample comments
                                    about what teachers liked: “teachers can learn about writing and the standards
                                    by scoring papers,” “precise alignment with the CCSS, breaks down writing for
                                    instruction,” “provides you with in-depth understanding of the writing process
                                    and your students’ abilities as writers,” “can use to create flex writing
                                    groups,” and “the scoring method was useful.” Two major suggestions were made:
                                    1) make it into an online tool and 2) add 3 sublevels for each level: 1 =
                                    developing grade level standards 2 = adequately meets grade level standards 3 =
                                    thoroughly meets grade level standards and transitioning to next level. Based on
                                    participants’ feedback, the paper version of this informal writing assessment
                                    was turned into a computer application and database."
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL #2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                                    "Powell,
                                    D. (2013). Focus Groups for Alpha Testing. Wilmington, NC: UNCW" <i class="fa fa-angle-down pull-right icon-collapsed"></i><i class="fa fa-angle-up pull-right icon-expanded"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    Debbie Powell, developer, demonstrated the continuum and interviewed K-12
                                    administrators (12), NC Department of Public Instruction consultants (6) and
                                    curriculum coordinators (8) for their feedback in small focus groups. Usefulness
                                    was rated high, but all wanted more research to see how teachers respond. The
                                    biggest concern was how many new things teachers are being introduced to. Three
                                    major suggestions were made repeatedly:
                                </p>
                                <p>
                                    “The Universal Writing Continuum is a new program—actually in its beta testing
                                    phase—that
                                    allows teachers to track from year to hear how students are doing on their
                                    writing. It's
                                    part database, part scoring system, part tracker. Not only does it record
                                    regular
                                    writing assignments, it keeps track of benchmark papers, so that you can assess
                                    how your
                                    building is doing in writing. We've been working with its creator, Dr. Debbie
                                    Powell,
                                    from the University of North Carolina-Wilmington."
                                </p>
                                <ul class="list-padding">
                                    <li>
                                        Provide benchmarks throughout the year that could eventually provide
                                        predictive data for summative writing assessments.
                                    </li>
                                    <li>
                                        Use the familiar colors and terms of red for below basic, yellow for basic,
                                        green for proficient and blue for advanced.
                                    </li>
                                    <li>Make it as self-directed as possible.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL #3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                                    "Powell,
                                    D and Alder, A (March 2013) Using the Universal Writing Continuum as a tool to
                                    guide writing instruction. Raleigh, NC: North Carolina Reading Association." <i class="fa fa-angle-down pull-right icon-collapsed"></i><i class="fa fa-angle-up pull-right icon-expanded"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    "Informal feedback was given by participants as part of the discussion. Some
                                    participants suggested that instructional strategies needed to be included. Many
                                    commented on the continuum as a good solution to demonstrating progress for all
                                    students, including those above and below grade level."
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL #4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="">
                                    "Venters,
                                    C., Luo, S, Higgins, H. (2013). Validation Study of On-line Universal Writing
                                    Continuum. Wilmington, NC: University of North Carolina Wilmington, unpublished.
                                    Study funded with a Cahill grant from UNCW." <i class="fa fa-angle-down pull-right icon-collapsed"></i><i class="fa fa-angle-up pull-right icon-expanded"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    A pilot of the Universal Writing Continuum was conducted in 2012-13 with 38 K-12
                                    teachers in 5 states to test the database’s capabilities, to find glitches, to
                                    seek suggestions for improvements and to test for reliability. One hundred and
                                    four teachers initially signed on to the study, sixty-eight teachers completed
                                    the pre-survey, and fifty-nine teachers were given a one-hour, online training
                                    session for using the continuum for scoring. The remaining 36 teachers did not
                                    return their consent forms. Thirteen administrators agreed to participate,
                                    however none completed the pre-research survey and only one attended the
                                    training. All participating teachers were asked to score 2 writing samples
                                    (chosen by the teacher or student) for each child in their class (one class for
                                    middle and high school). One sample was to be from the period of the
                                    January/February and one sample toward the end of March. Teachers were asked to
                                    score at least the first 6 traits on the online Universal Writing Continuum.
                                    Teachers were asked to upload to the website a copy of the writing sample for
                                    each student. A pre-survey and post-survey were administered to the 68
                                    teachers.
                                </p>
                                <p>
                                    Of the 68 teachers completing the pre-survey, there were 1 high school, 2 middle
                                    school and 65 elementary teachers; 13 completed the post-survey.
                                </p>
                                <p>
                                    Thirty-eight teachers logged in to the UWC application; 30 completed the first
                                    set of papers, 3 partially completed their set, and 5 did not attempt to score
                                    any papers. For the second set of papers, 13 teachers completed set 2, 4
                                    teachers partially completed a set, and 21 teachers did not attempt the 2nd
                                    set.
                                </p>
                                <p><strong>Findings:</strong></p>
                                <p>
                                    Teachers aren’t teaching writing regularly. Twenty-six of 68 respondents
                                    answering the question said that they teach writing less than 30 minutes daily;
                                    84% or 57 teachers teach writing 40 minutes or less daily. Teachers felt much
                                    more knowledgeable about the reading Common Core Standards than the writing and
                                    language standards. Teachers report that they are more comfortable with the
                                    structure and features of an argument/opinion and narrative than informational
                                    texts. Thirty-one percent of the teachers reported that they were uncomfortable
                                    with assessing writing. Areas of professional development that teachers felt
                                    would be most important (75% or more of the teachers replied that it would be
                                    useful or very useful) are: writing process, writing workshop, writing
                                    qualities, text types, demonstration videos, mentor texts and use of anchor
                                    papers. Teachers reported a significant increase in their knowledge of the
                                    standards over the 7 months between the pre-survey and post-survey, but we can’t
                                    necessarily contribute this to their use of the continuum because we don’t know
                                    what other professional development occurred during this time.
                                </p>
                                <p>
                                    Of the 13 teachers completing the final survey, 7 were undecided if they would
                                    choose to use the Universal Writing Continuum; 6 would choose to use it, 0
                                    responded that they would not use the continuum.
                                </p>
                                <p><strong>Teachers’ Comments from Post Surveys: </strong></p>
                                <ol class="list-padding">
                                    <li>
                                        The UWC is aligned with the Common Core; many of the elements of writing can
                                        be found in the Common Core. The UWC goes beyond the Common Core by
                                        including writing elements and language not addressed in the standards. The
                                        UWC simultaneously organizes the Common Core by the writing elements and by
                                        grade level. It advances the expectations mid-year, thereby helping teachers
                                        determine if the work is of grade-level (or not) performance. (Colorado
                                        elementary teacher)
                                    </li>
                                    <li>
                                        I think a continuum is helpful to teachers needing guidance on pinpointing
                                        areas of strength and weaknesses with individual students. Once I learned
                                        how to navigate through the system, the Continuum was easy to use. Great
                                        tool that provides informative information (Missouri elementary teacher)
                                    </li>
                                    <li>
                                        I cannot yet give it a glowing recommendation, but I feel it has promise.
                                        However, I think it requires more training than the organizers thought, and
                                        I also think teachers need more incentive to use it in terms of lesson
                                        planning and organizing their courses on the front end. I have been uneasy
                                        from the beginning, but this may also be because the organizers of the
                                        research project seemed unorganized and the project didn’t really seem ready
                                        to go (tech issues, not enough anchor papers, less training available,
                                        emails far past dates when they were supposed to be sent or not going to all
                                        participants, etc.…) (Colorado elementary teacher)
                                    </li>
                                    <li>
                                        I find it useful, helpful, and a great guide to go by for writing. (North
                                        Carolina elementary teacher)
                                    </li>
                                    <li>
                                        The writing continuum is a solid tracking device for students’ growth in
                                        writing. It is easy to use and provides another data point to view growth.
                                        (Nevada middle school teacher)
                                    </li>
                                    <li>
                                        I would say that it is very comprehensive and better than anything that we
                                        currently have for scoring a student’s writing. It is very explicit and it
                                        is easy to see the progression from one proficiency band to the next. It
                                        also ensures that teachers know the Common Core Standards not only for their
                                        grade level but as a continuum. If used throughout the school year
                                        consistently, students and teachers will have great data to discuss in terms
                                        of progress or lack of in specific areas of writing. If assessed regularly,
                                        students should be able to target areas of weakness as a writer and improve
                                        those areas contributing to the whole. (North Carolina middle school
                                        teacher)
                                    </li>
                                    <li>
                                        It takes a long time to complete. It gives you some good documentation of
                                        students’ growth as writers. (North Carolina elementary charter school
                                        teacher)
                                    </li>
                                    <li>
                                        I think it is an extremely useful tool. It seems very time consuming at
                                        first, but it gets easier the more you use it. (North Carolina elementary
                                        teacher)
                                    </li>
                                    <li>
                                        The Universal Writing Continuum was very beneficial to my Common Core
                                        writing instruction. I was also able to address students’ strengths and
                                        weaknesses. Using the writing continuum I was also able to strengthen my
                                        knowledge of writing standards for other grade levels. We have got to teach
                                        children to think clearly through writing and this tool really helps us
                                        focus on the job to be done. (North Carolina elementary teacher)
                                    </li>
                                    <li>
                                        I think the tool is amazing and provides an in depth understanding of the
                                        writing process and your students abilities as writers…. It allows you to
                                        quickly score any paper in writer's workshop even while you are conferencing
                                        with kids, if you like, and the computer will generate reports over a
                                        months' time of how the entire class is progressing on as many as 10
                                        features of writing.
                                    </li>
                                    <li>
                                        I just have to say that I love it; I love that it’s so broken down and so
                                        precise. ..It’s just not something broad to look at; you can literally go
                                        back and look at the story and check to see did they do that? I was really
                                        taken with this.
                                    </li>
                                    <li>
                                        One of our big things as a school with vertical alignment is having a common
                                        language. I feel like this lends itself so much as a school to having that
                                        common language. If a child has heard this since first grade, second grade,
                                        by the time they get to me in fifth grade when I’m talking to them about
                                        making sure their story has a focus, they’ve been hearing that all along. I
                                        like that a lot.
                                    </li>
                                    <li>
                                        It’s great the way it breaks it down for instructional purpose and is very
                                        user friendly for scoring. It’s very user friendly for instructional
                                        purposes. I would use sub-categories for mini lessons. I think it needs to
                                        be implemented school-wide or better district-wide. It needs to be a
                                        school-wide expectation so it can grow along with the kids. It makes the
                                        writing evaluation so easy to use and provides a great record to use with
                                        parents at conferences.
                                    </li>
                                </ol>
                                <p><strong>Conclusions:</strong></p>
                                <ol class="list-padding">
                                    <li>
                                        Although these experienced teachers (86% had 6 or more years experience) had
                                        positive things to say about the continuum and found it useful, more than
                                        half did not continue to use it and more than half (7/13) said they were
                                        undecided if they would choose to use it. Teachers are inundated with
                                        assessments and many other demands. They are not teaching writing regularly
                                        or for extended periods of time. The Institute of Education Sciences (IES)
                                        guide for writing (Graham, et al, 2012) recommends one hour daily dedicated
                                        to writing beginning in grade 1. With writing not being assessed at the
                                        state level in many states, there is no pressure from administrators to
                                        monitor students’ progress in writing.
                                    </li>
                                    <li>
                                        The participating schools each had 1 to 4 teachers rather than an entire
                                        staff and none of the schools had active administrative support for using
                                        the continuum. This likely explains the number of teachers who did not
                                        complete all elements of the study. The project staff did not offer any
                                        incentives and at times were late in following up with the teachers.
                                    </li>
                                    <li>
                                        Though the teachers say they are comfortable with the standards, there are
                                        still many areas of writing that they feel a need for professional
                                        development.
                                    </li>
                                    <li>
                                        More professional development for evaluating students’ writing and using the
                                        continuum are needed for the instrument to be successful.
                                    </li>
                                    <li>
                                        Teachers need time to talk to each other about student writing, to compare
                                        evaluations and to have more time to become familiar with the continuum
                                        before they are expected to evaluate writing independently.
                                    </li>
                                    <li>
                                        It seems to take teachers scoring 4-5 writing samples before they become
                                        comfortable using the tool. Because there was a large time gap between the
                                        two sets of papers and the final set occurred later than expected, falling
                                        into a time period close to the end of quarter testing, teachers found that
                                        they had too big of a learning curve to score the second set of papers.
                                        Perhaps they should have been required to evaluate students’ writing
                                        bi-weekly.
                                    </li>
                                    <li>
                                        If writing were a greater emphasis in these schools, if there was strong
                                        administrative support and the entire school was working together on the
                                        adoption and implementation, there likely would be more positive results
                                        that better reflect what the teachers say about the Universal Writing
                                        Continuum.
                                    </li>
                                    <li>
                                        More extensive pilot studies of the completed platform need to be conducted
                                        with school districts or independent or charter schools. The administrators
                                        much be active participants in future studies as well as all of the
                                        teachers.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL #5 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="">
                                    "Powell,
                                    D. (2013-16). Preservice teachers’ analysis of writing strengths and needs using
                                    the Universal Writing Continuum. UNCW: unpublished." <i class="fa fa-angle-down pull-right icon-collapsed"></i><i class="fa fa-angle-up pull-right icon-expanded"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    One of the required evidences UNCW students must demonstrate for North Carolina
                                    Licensure at the end of their student teaching is an analysis of learning using
                                    authentic assessment.
                                </p>
                                <p>
                                    In Undergraduate pre-service teachers’ first semester in the Foundations of
                                    Literacy course, Debbie requires students to evaluate writing samples for the
                                    children they are tutoring. Consistently, students are able to meet the standard
                                    for authentic assessment analysis in their first methods course by using the
                                    Universal Writing Continuum.
                                </p>
                                <p>
                                    The following are analyses of the writing strengths and needs of two 2nd grade
                                    students by using The Universal Writing Continuum. It is important to note that
                                    this analysis was written by an undergraduate pre-service teacher in her first
                                    semester of methods courses and prior to even accessing the module on teaching
                                    writing. Students complete a one-week module on assessing writing and spelling
                                    before they complete this task.
                                </p>
                                <p><strong>Preservice Teacher 1:</strong></p>
                                <p>
                                    <strong>Strengths in Writing:</strong> Based on Dr. Powell’s writing continuum, I
                                    assessed Charles’ writing development using nine different traits. Charles’s
                                    strengths include having a strong sentence structure and fluency. When reading
                                    his piece, it has a natural flow which the reader can read with ease. He uses a
                                    variety of sentence structures in his piece titled, “Going to the Pool.” One
                                    sentence states, “My grandpa and my Grandma won’t go to the pool because they
                                    can’t swim.” He uses proper subject verb agreement and writes correctly, using
                                    the appropriate tense. Charles also uses declarative and interrogative
                                    sentences. However, he failed to put the punctuation in one interrogative
                                    sentence. This is why I put him in level D for conventions as he “experiments”
                                    with new punctuation. He is consistent at appropriately capitalizing the first
                                    word in the sentence and spacing between words. He is also very good at writing
                                    to learn/audience of self. He attempts using complete sentences to enhance the
                                    meaning and his strategies are quite clever. Instead of saying “his grandparents
                                    don’t go swimming because they can’t swim,” he uses a variety of sentences to
                                    explain that he asked them why they don’t go and that they replied they can’t
                                    swim. He also enhances his point by making an inference that “they can’t swim
                                    because they never go.”
                                </p>
                                <p>
                                    <strong>Needs in Writing:</strong> Charles is in the 2nd semester, second grade.
                                    Based on The Writing Continuum, Charles should score a level E to be proficient
                                    at this point during the school year/semester. However, he falls into a level D
                                    or below for seven out of the eight writing traits. Each of his needs for the
                                    individual writing traits is explained below. His idea/content isn’t well
                                    established. He titles his piece, “Going to the pool,” but never talks about the
                                    actual event of swimming. Charles needs work on generalizing and coming up with
                                    an idea that he can write effective supportive details. According to the
                                    continuum, Charles, “attempts to restate topic or question” and “lack[s]
                                    in-depth understanding or strong purpose.” I placed him in level D for
                                    ideas/content, but he is bordering the level C, because the length of his piece
                                    is inadequate to fully develop his idea. In regard to his structure and
                                    organization, I have Charles in a level D. His piece uses temporal words that
                                    has minimal detail, and contains only two sequenced events. He orders the
                                    information so the reader is able to follow, but there is really no conclusion
                                    at the end. In regard to voice and point of view, I put Charles at a basic level
                                    D, because he doesn’t write in 3rd person as well as 1st person. It seems that
                                    most of his pieces are a narrative account of events and therefore, he is always
                                    writing in 1st person. However, his voice in the piece does have a very unique
                                    perspective and you can almost hear him telling you his story. Charles is also
                                    in a level C for word choice on the continuum because of he doesn’t take risks
                                    in adding new words. He needs to focus on the structure of a paper, having a
                                    title, author, paragraphs with a beginning, middle, and end. Charles also needs
                                    to attempt to use illustrations in his piece to support or show the reader what
                                    is happening. His piece lacks any illustrations and in regard to the
                                    Presentation/Publishing content area, I had to place him in the level C for
                                    spatial principles. He doesn’t stop to think about adding an illustration, even
                                    after he has completed his piece.
                                </p>
                                <p><strong>Preservice Teacher 2:</strong></p>
                                <p>
                                    <strong>Strengths in Writing:</strong> Using the Writing Continuum, I have
                                    decided to place Demarco in writing level E, which is proficient for the 2nd
                                    grade level. I've decided to analyze both of his written pieces, the Turtle Book
                                    and "One Day," because both of them show some distinct strengths he has as a
                                    writer. For ideas and content, Demarco has the ability to pick a topic and
                                    ensure that it is introduced, developed, and concluded sufficiently. He has the
                                    ability to pick a controlling idea and carry that idea throughout his story. He
                                    displayed both of these strengths in both of his written pieces. For structure,
                                    organization, and genre, he is able to write with a purpose. In his story, "One
                                    Day," he was able to follow a sequence of events and in the Turtle Book he was
                                    able to organize the pages in the text to follow a specific order. In his story,
                                    "One Day," he was able start off with a lead and provide closure. He also
                                    attempted dialogue, although it was not well developed. For voice, point of
                                    view, and attention to audience, I believe Demarco's writing abilities tend to
                                    each of the bulleted points. In both of his written pieces, he showed a sense of
                                    audience by providing examples to clarify meaning. His voice is definitely
                                    beginning to emerge and his written pieces are unique to his personality. In the
                                    story, "One Day," he was able to write in third person. For word choice, Demarco
                                    is able to use some transitional words between ideas in his story, "One Day."
                                    For sentence fluency and structure, Demarco is able to use different sentence
                                    structures, write complete sentences with subject-verb agreement and
                                    noun-pronoun agreement, and use declarative and exclamatory sentences. He
                                    displayed strengths in all of these abilities in his written piece, "One Day."
                                    For conventions, Demarco is somewhat able to abide by the rules of Standard
                                    English by use of capital letters, end punctuation, and conventional spelling.
                                    He displayed these traits mostly in his Turtle Book, however, he did struggle
                                    with these abilities in his other written piece, "One Day." For presentation and
                                    publishing, Demarco is able to add illustrations to provide some of the
                                    important information. In the Turtle Book, Demarco was able to create
                                    illustrations to provide additional meaning to the information provided. For
                                    writing process, Demarco is able to prewrite, as seen with his graphic organizer
                                    for the story "One Day," and is able to edit for misspelled words, as we did
                                    with the Turtle Book.
                                </p>
                                <p>
                                    <strong>Needs in Writing:</strong> I believe that Demarco has to be inspired in
                                    order to write, he does not like writing on demand. As seen with both of the
                                    written pieces he created, I had to provide him with visual stimulations and
                                    good quality literature in order for him to write. Once I did that, he was
                                    writing away. When writing his informational piece, the Turtle Book, Demarco
                                    displayed many strengths in writing and spelling. I allowed him to keep the
                                    books I read to him; Franklin Afraid of the Dark and All About Turtles. I
                                    believe this helped him come up with ideas to write about and also helped him
                                    spell more complex or unfamiliar words correctly. I was able to really see some
                                    of Demarco's needs when he wrote his story, "One Day." The two aspects of his
                                    writing in this piece that I believe need guidance on are his consistent use of
                                    overused words and his lack of conventions. Throughout the story, he uses the
                                    word "said" many times and does not use any alternate words. He would definitely
                                    benefit from learning more exciting, spicier words to use when writing. His
                                    major need is to work on the use of conventions. In the writing, he uses the
                                    conjunction "and" a few times to connect sentences in an appropriate way,
                                    however, he also uses the word "and" many more times to connect different
                                    thoughts. He does use capital letters for the beginning of the sentences and
                                    proper nouns, however, he only has one complete sentence where he uses end
                                    punctuation. The rest of the sentences in the piece are run on, and, although
                                    the thought is complete, the sentence is not. Demarco would definitely benefit
                                    from additional instruction in the use of conventions in his writing. He used
                                    them well in his Turtle Book but he also had additional resources for help and
                                    was only writing one to two sentences per page instead of writing a while story.
                                </p>
                                <p>
                                    <strong>
                                        Conclusion: The UWC provides teachers, even very inexperienced
                                        pre-service teachers, with the language to talk about writing and the
                                        specificity to plan instruction.
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>