
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">TERMS AND CONDITIONS</h1>
    </div>
</div>
<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <section>
            <p class="lead">
                This is an agreement between the User and Uni-SPIRE.
                Welcome to our site.  
                The Uni-SPIRE website and various Universal Continua 
                are comprised of various web pages and portals operated by Uni-SPIRE.
                We offer the site to registered users including but not limited to 
                teachers, students, parents, homeschooling parents, instructional 
                coaches, curriculum and assessment specialists, university and college
                teachers, and administrators on the condition you accept without modification,
                the terms, conditions and notices contained herein.  These Terms apply 
                to all visitors, users and others who access or use the Service. Your 
                registration, access to and use of one of the Universal Continua constitutes
                your agreement to all such Terms.  Please read these terms carefully, and 
                keep a copy of them for your reference.
            </p>
            <p class="lead">
                <b>
                    By accessing or using the Service you agree to be bound by these Terms.
                    If you disagree with any part of the terms then you may not access the Service.
                </b>
            </p>
        </section>
        <section>
            <!--Termination-->
            <h2 class="section-heading">Termination</h2>
            <p class="lead">
                We may terminate or suspend access to our Service immediately, without prior notice
                or liability, for any reason whatsoever, including without limitation if you breach the Terms.
            </p>
            <p class="lead">
                All provisions of the Terms which by their nature should survive termination shall survive
                termination, including, without limitation, ownership provisions, warranty disclaimers, 
                indemnity and limitations of liability. 
            </p>
            <!--Subscriptions-->
            <h2 class="section-heading">Subscriptions</h2>
            <p class="lead">
                Some parts of the Service are billed on a subscription basis ("Subscription(s)"). 
                You will be billed in advance on a recurring annual basis. 
            </p>
            <!--Copyright Statement-->
            <h2 class="section-heading">Copyright Statement</h2>
            <p class="lead">
                All materials posted on this site are subject to copyrights owned by Uni-SPIRE.
                Any reproductions, retransmissions, or republication without written permission
                is expressly prohibited.  Teachers, students, parents and other registered users
                of the site retain their own copyrights to their materials posted such as, but not
                limited to lesson plan, written and video pieces, and posts about teaching practices.
                We value interactions with our clients and client to client interactions.
                It is unlawful for anyone to post information that is copyrighted by third parties
                including photos taken from the Internet to illustrate students’ published writing.
            </p>
            <p class="lead">
                The names, trademarks, or logos of Uni-SPIRE appearing on this site may not be used
                in publicity or otherwise to indicate Uni-SPIRE’s sponsorship or affiliation with 
                any product or service without written permission.  The exception is registered school
                districts or schools may include the Uni-SPIRE logo as part of their designated curriculum
                on their website.
            </p>
            <p class="lead">
                Our copyrights are registered in the United States of America.  In compliance with the Digital
                Millennium Copyright Act, the authorized agent for Uni-SPIRE’s website is Dr. Deborah Powell,
                <a href="mailto:powelld@thewritingcontinuum.com">powelld@thewritingcontinuum.com</a>.  
                Please notify Deborah Powell if you believe that your copyright is being violated by Uni-SPIRE,
                listing a specifically as possible the location of said material on Uni-SPIRE’s site and where 
                you believe the original copyrighted material is printed, published or presented.
            </p>
            <p class="lead">
                We have made every effort to document and seek permission for reprinting copyrighted materials.
                Many ideas that teachers submit to us may have been learned from reading a book or attending a session.
                If they have adopted these ideas as their own teaching practice, it may be difficult for them and
                Uni-SPIRE to identify the original source of the material.
            </p>
            <!--Acceptable Use Agreement-->
            <h2 class="section-heading">Acceptable Use Agreement</h2>
            <p class="lead">
                It is the policy of the Uni-SPIRE to maintain an environment that promotes ethical and responsible
                conduct in all online website activities by staff, parents and students. It shall be a violation
                of this policy for any teacher, student, or other individual to engage in any activity that does 
                not conform to the established purpose and general rules and policies of the website. Within this general policy,
                Uni-SPIRE recognizes its legal and ethical obligation to protect the well-being of students in its charge.
                To this end, Uni-SPIRE retains the following rights and recognizes the following obligations: 
            </p>
            <ol>
                <li class="lead">
                    To log website use and to monitor fileserver space utilization by users, and assume no
                    responsibility or liability for files deleted due to violation of fileserver space allotments.
                </li>
                <li class="lead">
                    To remove a user account on the website. 
                </li>
                <li class="lead">
                    To monitor the use of online activities. This may include real-time monitoring of website
                    activity and/or maintaining a log of Internet activity for later review. 
                </li>
                <li class="lead">
                    To provide internal and external controls as appropriate and feasible. Such controls shall
                    include the right to determine who will have access to Uni-SPIRE owned intellectual property
                    and, specifically, to exclude those who do not abide by the Uni-SPIRE's acceptable use policy.
                    Uni-SPIRE reserves the right to restrict online destinations through software or other means. 
                </li>
                <li class="lead">
                    To provide guidelines and make reasonable efforts to train staff and students in acceptable
                    use and policies governing online communications. 
                </li>
            </ol>
            <div>
                <h3 class="lead"><b><i>Staff Responsibilities</i></b></h3>
                <ol>
                    <li class="lead">Staff members who supervise students, control Internet use, or otherwise 
                        have occasion to observe student use of said online use of the Uni-SPIRE website shall make
                        reasonable efforts to monitor the use of this website to assure that it conforms to the mission
                        and goals of Uni-SPIRE.
                    </li>
                    <li class="lead">
                        Staff should make reasonable efforts to become familiar with Uni-SPIRE’s Universal Continua 
                        and their uses so that effective monitoring, instruction, and assistance may be achieved to
                        maximize the student benefits of the website. 
                    </li>
                </ol>
                <h3 class="lead"><b><i>All User Responsibilities</i></b></h3>
                <ol>
                    <li class="lead">
                        Use of the electronic media provided by Uni-SPIRE is a privilege that offers a wealth
                        of information and resources for research. Where it is available, this resource is offered
                        to staff, students, parents, administrators and other patrons at a low cost. In order to maintain
                        the privilege, users agree to learn and comply with all of the provisions of this policy. 
                    </li>
                </ol>
                <h3 class="lead"><b><i>Acceptable Use</i></b></h3>
                <ol>
                    <li class="lead">
                        All use of Uni-SPIRE’s Universal Continua must be in support of educational and research 
                        objectives consistent with the mission and objectives of Uni-SPIRE.
                    </li>
                    <li class="lead">
                        Proper codes of conduct in electronic communication must be used. In social groups such 
                        as conferencing, giving out personal information is inappropriate. When using e-mail, 
                        extreme caution must always be taken in revealing any information of a personal nature. 
                    </li>
                    <li class="lead">
                        Uni-SPIRE’s website accounts are to be used only by the authorized owner of the account
                        for the authorized purpose. 
                    </li>
                    <li class="lead">
                        All communications and information accessible via the website should be assumed to be 
                        private property. 
                    </li>
                    <li class="lead">
                        Exhibit exemplary behavior on the website as a representative of your school and community.
                        Be polite! 
                    </li>
                    <li class="lead">
                        From time to time, Uni-SPIRE will make determinations on whether specific uses of the
                        website are consistent with the acceptable use practice. 
                    </li>
                </ol>
                <h3 class="lead"><b><i>Unacceptable Use </i></b></h3>
                <ol>
                    <li class="lead">
                        Giving out personal information about another person, including home address and phone
                        number, is strictly prohibited. 
                    </li>
                    <li class="lead">
                        Any use of the website for any purpose other than the designated purposes is prohibited. 
                    </li>
                    <li class="lead">
                        Any use of the website for product advertisement or political lobbying is prohibited. 
                    </li>
                    <li class="lead">
                        Users shall not intentionally seek information on, obtain copies of, or modify files,
                        other data, or passwords belonging to other users, or misrepresent other users on the
                        website. 
                    </li>
                    <li class="lead">
                        No use of the website shall serve to disrupt the use of the website by others. Software
                        shall not be destroyed, modified, or abused in any way. 
                    </li>
                    <li class="lead">
                        Malicious use of the website to develop programs that harass other users or infiltrate 
                        a computer or computing system and/or damage the software components of a computer or 
                        computing system is prohibited. 
                    </li>
                    <li class="lead">
                        Hateful comments, harassment, discriminatory remarks, and other antisocial behaviors are 
                        prohibited on the website. 
                    </li>
                    <li class="lead">
                        The unauthorized installation of any software, including shareware and freeware, for use 
                        on Uni-SPIRE’s website is prohibited. 
                    </li>
                    <li class="lead">
                        Use of the website to access or process pornographic material, inappropriate text files 
                        (as determined by the system administrator or building administrator), or files dangerous
                        to the integrity of the local area website is prohibited. 
                    </li>
                    <li class="lead">
                        Uni-SPIRE’s website may not be used for downloading entertainment software or other files
                        not related to the mission and objectives of Uni-SPIRE for transfer to a user's home 
                        computer, personal computer, or other media. This prohibition pertains to freeware, 
                        shareware, copyrighted commercial and non-commercial software, and all other forms of
                        software and files not directly related to the instructional and administrative purposes 
                        of the Uni-SPIRE. 
                    </li>
                    <li class="lead">
                        Downloading, copying, otherwise duplicating, and/or distributing copyrighted materials 
                        including pictures, other students’ work, other author’s work or any other material that
                        has not been originally created by the student author without the specific written permission 
                        of the copyright owner is prohibited, except that duplication and/or distribution of materials
                        by teachers or homeschooling parents for educational purposes is permitted when such 
                        duplication and/or distribution would fall within the Fair Use Doctrine of the United States
                        Copyright Law (Title 17, USC). 
                    </li>
                    <li class="lead">
                        Use of the website for any unlawful purpose is prohibited. 
                    </li>
                    <li class="lead">
                        Use of profanity, obscenity, racist terms, or other language that may be offensive to another
                        user is prohibited. 
                    </li>
                    <li class="lead">
                        Playing games is prohibited unless specifically authorized by a teacher for instructional purposes. 
                    </li>
                    <li class="lead">
                        Establishing website or Internet connections to live communications, including voice and/or video
                        (relay chat), is prohibited unless specifically authorized by the system administrator. 
                    </li>

                </ol>
                <h3 class="lead"><b><i>Disclaimer</i></b></h3>
                <ol>
                    <li class="lead">
                        Uni-SPIRE cannot be held accountable for the information that is retrieved via the website. 
                    </li>
                    <li class="lead">
                        Pursuant to the Electronic Communications Privacy Act of 1986 (18 USC 2510 et seq.), notice 
                        is hereby given that there are no facilities provided by this system for sending or receiving 
                        private or confidential electronic communications except Uni-SPIRE to adult users in a 
                        teaching or administrative capacity. System administrators, whether this is the teacher,
                        homeschooling parent or administrator, shall have access to all student Internet communication
                        via the website and will monitor messages. Messages relating to or in support of illegal
                        activities will be reported to the appropriate authorities. 
                    </li>
                    <li class="lead">
                        Uni-SPIRE will not be responsible for any damages you may suffer, including loss of data 
                        resulting from delays, non-deliveries, or service interruptions caused by our own negligence
                        or your errors or omissions. Use of any information obtained is at your own risk. 
                    </li>
                    <li class="lead">
                        The Education Agency makes no warranties (expressed or implied) with respect to:
                        <ul>
                            <li>
                                the content of any advice or information received by a user, or any costs or charges
                                incurred as a result of seeing or accepting any information; and 
                            </li>
                            <li>
                                any costs, liability, or damages caused by the way the user chooses to use his or
                                her access to the website. 
                            </li>
                        </ul>
                    </li>
                    <li class="lead">
                        Uni-SPIRE reserves the right to change its policies and rules at any time. 
                    </li>
                </ol>
            </div>
            <p class="lead">
                I have read, understand, and will abide by the above Acceptable Use Policy when using computer and 
                other electronic resources owned, leased, or operated by Uni-SPIRE. I further understand that any 
                violation of the regulations above is unethical and may constitute a criminal offense. Should I 
                commit any violation, my access privileges may be revoked.
            </p>
        </section>
    </div>
</div>
