@model Source.Models.TeacherUsageReportViewModel
@{
    ViewBag.Title = "UsageReports";
    Layout = "~/Views/Shared/_DistrictAdminLayout.cshtml";
}
<div id="page-content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Usage Reports</h3>
            </div>
            <section class="form-horizontal">
                <div class="panel-body">
                    @using (Html.BeginForm("UsageReports", "DistrictAdmin", FormMethod.Get))
                    {
                        Html.RenderPartial("_SchoolEvalSelectionViewModel", Model);
                    }
                </div>
            </section>
        </div>
    </div>


    @if (Model.State != Source.Models.ASchoolEvalSelectionViewModel.SchoolEvalSelectionState.Invalid)
    {

        if (Model.TeacherUsageReports.Count > 0)
        {
            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Reports</h3>
                </div>
                <div class="panel-body">
                    <table id="viewPapersTable" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                        <!-- View Papers Table Headings -->
                        <thead>
                            <tr>
                                <th>Teacher Last Name</th>
                                <th>Teacher First Name</th>
                                <th>Papers Scored</th>

                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var report in Model.TeacherUsageReports)
                            {
                                <tr>
                                    <td>@report.teacherLN</td>
                                    <td>@report.teacherFN</td>
                                    <td>@report.papersScored</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        }
        else
        {
            <div class="panel">
                <div class="panel-body">
                    <a class="list-group-item" style="color:red">No Reports Found.</a>
                </div>
            </div>
        }

    }

</div>