@model Source.Models.ACourseSelectionViewModel

@Html.HiddenFor(model => model.State)

<!-- Class Field -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="class">Class: </label>
    <div class="col-sm-6">
        @Html.DropDownListFor(model => model.CourseID, Model.CourseDropDown, new { @class = "form-control", onchange = "$('#State').val('CourseSelected');this.form.submit();" })
    </div>
</div>