<!-- Academic Year Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="academicYear">Year: </label>
    <div class="col-sm-6">
        <select class="form-control" id="academicYearDropdown"></select>
    </div>
</div>

<!-- Class Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="class">Class: </label>
    <div class="col-sm-6">
        <select class="form-control" id="classDropdown">
            <option value="-1">---</option>
        </select>
    </div>
</div>

<!-- Evaluation Period Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="evaluationPeriod">Evaluation Period: </label>
    <div class="col-sm-6">
        <select class="form-control" id="evalDropdown">
            <option value="-1">---</option>
        </select>

    </div>
</div>
