<!-- Academic Year Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="academicYear">Academic Year: </label>
    <div class="col-sm-6">
        <select class="form-control" id="academicYearDropdown" name="YearID"></select>
    </div>
</div>

<!-- Class Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="class">Class: </label>
    <div class="col-sm-6">
        <select class="form-control" id="coursesDropdown" name="CourseID">
            <option value="0">---</option>
        </select>
    </div>
</div>
<!-- Student Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="student">Student: </label>
    <div class="col-sm-6">
        <select class="form-control" id="studentDropdown" name="StudentID">
            <option value="0">---</option>
        </select>
    </div>
</div>