

<!-- Academic Year Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="academicYear">Academic Year: </label>
    <div class="col-sm-6"> 
        <select class="form-control" id="academicYearDropdown" name="academicYearDropdown"></select>
    </div>
</div>

<!-- Class Selection Field -->
<div class="form-group row">
    <label class="col-sm-3 control-label" for="class">Class: </label>
    <div class="col-sm-6">
        <select class="form-control" id="coursesDropdown" name="coursesDropdown">
            <option value="-1">---</option>
        </select>  
    </div>
</div>
