@model Source.Models.GlobalRoleModel
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_WebAdminLayout.cshtml";
}

<div id="page-title">
    <h1 class="page-header text-overflow">Edit Quote</h1>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Role</h3>
        </div>
        @using (Html.BeginForm("EditRole", "WebAdmin", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            <section class="form-horizontal">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="author">Role</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Role)
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </section>
        }
    </div>
</div>

