
@{
    ViewBag.Title = "Email Sent!";
    Layout = "~/Views/Shared/_WebAdminLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

